.listTitle {
  font-size: 1.5em;
  font-weight: 400;
  padding-top: 20px;
  margin-bottom: 42px;
  text-align: left;
  border-bottom: 1px solid rgb(214, 10, 10);
  padding-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  font-size: 0.75em;
}

li {
  display: grid;
  grid-template-columns: 1.5fr 2fr 1fr 2fr 2fr auto;
  gap: 15px;
  align-items: center;
  margin-bottom: 10px;
  text-align: left;
  border-bottom: 1px solid rgb(171, 166, 166);
  padding-bottom: 10px;
}

li:last-child {
  border-bottom: none;
}

.userInfo {
  display: contents;
}

.userInfo span {
  text-align: left;
}

.actions {
  margin-left: 20px;
}

.statusWrapper {
  display: inline-flex;
  align-items: center;
}

.statusWrapper .statusIcon {
  margin-right: 2px;
  width: 12px;
  height: 12px;
}

.listButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.listButton img {
  width: 24px;
  height: 24px;
}

@media (max-width: 480px) {
  li {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    gap: 10px; /* Adjust gap for better spacing */
    align-items: flex-start;
  }
  .user-details {
    display: flex;
    flex-direction: column; /* Stack user details vertically */
    gap: 5px; /* Adjust gap for better spacing */
  }
  .actions {
    margin-left: 0; /* Reset margin for actions */
    align-self: flex-end; /* Align actions to the right */
  }
}
